@import url(//db.onlinewebfonts.com/c/41f5e8ff1d98d490a19c6d48ea7b74b1?family=Beyond+The+Mountains);

@font-face {
	font-family: "Beyond The Mountains"; 
	src: url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.eot"); 
	src: url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.eot?#iefix") format("embedded-opentype"), 
		url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.woff2") format("woff2"), 
		url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.woff") format("woff"), 
		url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.ttf") format("truetype"), 
		url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.svg#Beyond The Mountains") format("svg"); 
	}

header.rest{
	/*width: 100%;*/
	height: 85px;
	background-color: rgba(0, 0, 0, 0.8);
	align-content: center;
	text-align: center;
	animation-direction: alternate;
	backface-visibility: inherit;
	background-clip: content-box;
	position: relative;
	z-index:9;
}

body.rest  a{
	color: white;
	padding-left: 15px;
	text-decoration: none;
}

header.rest  a{
	color: white;
	padding-left: 15px;
	text-decoration: none;
}

body.rest{
	font-family: Open Sans;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.667;
	background-color: black;
	text-align: center;
}

#wrapper{
	margin: auto;
  	width: 80%;
}

footer p{
	color: white;
}

h1.intro{
	font-family: Beyond The Mountains;
	color: white;
	text-decoration-color: white;
	font-size: 500%;
}

h2.intro{
	font-family: Beyond The Mountains;
	color: white;
	text-decoration-color: white;
	font-size: 300%;
	margin-bottom: 10px;
}

button{
	background-color: #EF0031;
	color : #fff;
	height: 40px;
}

button:hover{
	cursor:pointer;
}

#greenbutton{
	background-color: green;
}

p{
	color: #555555;
}

footer{
	/*width: 100%;*/
	background: url("../images/hamburguesa3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;

}

.active{
	color: red !important;
}

.iniciobanner{	
	background: url("../images/hamburguesa2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	/*width: 100%;*/
	height: 500%;
}

#blogbanner{	
	background: url("../images/hamburguesa2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	/*width: 100%;*/
	height: 500px;
	padding-bottom: 500px;
}

.picturesForHistory{
	margin-top: 500px;
	background-image: url(../images/story1.png), url(../images/burguer.png), url(../images/story2.png);
	background-position: left, top center, right;
	background-size: 400px, 50px, 400px;
	background-repeat: no-repeat;
}

.picturesForHistory > p{
	display: table-cell;
}


.texts{
	color: white;
	position: absolute;
  	top: 40%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}

.bgcolor{
	background-color: rgba(0, 0, 0, 0.8);
	overflow:auto;
}

#title{
	color: green;
	text-decoration-line: underline;
}

#para, #para2{
	display: inline-block;
	padding: 10px;
	color: white;
	font-size: medium;
	text-align: left;

}

.bestsellers{
	background-image: url(../images/hamburguesa1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 100px;
}

.desc{
	color: white;
}

table{
	align-content: center;
}

table tr{
	padding: 10px;
}

tr td{
	padding: 25px;
}

#order{
	color: red;
	background-color: black;
	border-color: red;
}

div.product{
	float: left;
  	width: 180px;
}

#blacktriangle{
	width: 10px;
	height: 10px;
	border-image-repeat: repeat;
}

#border{
	border-bottom: 30px solid transparent;
  	/*padding: 15px;*/
  	border-image: url('../images/triangle_bg_black.png');
}

.inciarsession{
	color: white;
	position: absolute;
  	top: 40%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

#iniciarid{
	border: none;
	background: transparent;
}

.contactobanner{
	background: url("../images/hamburguesa7.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	/*width: 100%;*/
	height: 500%
}

.contactobody{
	color: white;
	margin-top: 500px;
	/*margin-bottom: 100px*/
	background-image: url(../images/burguer.png);
	background-position: top center;
	background-size: 50px;
	background-repeat: no-repeat;	
}

.contactobody > .container {
  padding: 5px;
  align-content: center;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 100px
}



.row {
	/*overflow: hidden;*/
	height: 20px;
	margin-bottom: 	22px;
	/*margin-right:20px;*/
}


.row .col1, .row .col2{
	width: 45%;
}

.row .col1{
	float: left;
}

.row .col2{
	float: right;
}

.nostrosbanner	{
	background: url("../images/hamburguesa4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	/*width: 100%;*/
	height: 500%;
} 

.nostrosbody{
	color: white;
	margin-top: 500px;
	margin-bottom: 100px;

	margin: 500px 10px 100px 10px;	
}

.nostrosclient{
	background: url("../images/hamburguesa1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	object-fit: cover;
	width: 100%;
	overflow:auto;
}

.nostrosimgs{
	color: white;
	display: inline-block;
}

.clientscomments{
	color: white;
	align-self: center;
	width: 80%
}

#nostrospara{
	color: white;
	font-size: large;
}

#largefont{
	font-size: x-large;;
	color: white;
	text-align: top;
}
#mediumfont{
	font-size: medium;
}

#redtext{
	color: red;
}

#whitecolor{
	color: white;
	text-align: left;
}

#tabledata{
	width: 30%;
	/*text-align: left;*/
}

#messagebtn{
	background-color: red;
	align-self: center;
	margin: 3rem 0 ;
	height: 3rem !important;
	width: 8rem !important;
	color: white ;
}

#fileip{
	margin-left: 20%;
}

.orderbody{
	color: white;

}
#placeorder{
	margin-left: 100%;
}


.editprofilecontainer{
	color: white;
	margin-top: 500px;
	/*margin-left: 20%;*/
	align-items: center;
	align-content: center;
	width: 100%;
}

#container-inner{
	align-content: center;
	align-items: center;
	color: white;
	margin-top: 500px;
	width: 50%;
}



.menubanner{
	background: url("../images/hamburguesa5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	/*width: 100%;*/
	height: 500%;
} 

.burgerbanner{
    background: url("../images/hamburguesa5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	/*width: 100%;*/
	height: 400px;
}

.burgernamecolor{
    color:white;
}

#burgerfooter{
    margin-top : 100px;
}

#burgerheader{
    margin-bottom : 450px;
}

.burger-wrapper {
	width: 1050px;
	margin: 0 auto;
}

.cart-wrapper{
    color:white;
}

.placeordert-wrapper{
    color:white;
}


#cartid{
    color:white;
    align-content:center;
    align-self:center;
}





.menubody{
	margin-top: 45%;
}



/* Portrait 
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .menubody{
	margin-top: 70%;
}
}*/

/*@media (min-width:1000px){*/
/*    .menubody{*/
/*	margin-top: 70%;*/
/*}*/
/*}*/

@media screen  
  and (max-width: 1020px)
  and (min-width: 780px){
  .menubody{
	margin-top: 70%!important;
}
      
      .menu-footer{
          margin-top:60%!important;
      }
      
  }
  @media screen  
  and (max-width: 1385px)
  and (min-width: 1020px){
  .menubody{
	margin-top: 55%;
}
      
      .menu-footer{
          margin-top:20%;
      }
      
  }
  
  @media screen 
  and (min-width: 700px) 
  and (max-width: 780px) {
  .menubody{
	margin-top: 90%;
}
      
      .menu-footer{
          margin-top:80%;
      }
      
  }
  
 @media screen 
  and (min-width: 596px) 
  and (max-width: 700px) {
  .menubody{
	margin-top: 90%;
}
      
      .menu-footer{
          margin-top:150%;
      }
      
      #para2{
          display:none!important;
      }
      
  }
  
   @media screen 
  and (min-width: 547px) 
  and (max-width: 596px) {
  .menubody{
	margin-top: 100%;
}
      
      .menu-footer{
          margin-top:200%;
      }
      #para2{
          display:none;
      }
      
  }
  @media screen 
  and (min-width: 500px) 
  and (max-width: 547px) {
  .menubody{
	margin-top: 110%;
    }
      
      .menu-footer{
          margin-top:230%;
      }
      #para2{
          display:none!important;
      }
      
  }


@media screen 
  and (mine-width: 1000px) 
  and (max-width: 1600px) 
  and (orientation: landscape) {
  .menubody{
	margin-top: 45%;
}
}

.banner-text{
	padding-top:50px;
	color: white;
}

div.menubody>h3{
	color: white;
}

div.menubody>div.container{
	height: 800px;
	width: 100%;
	background-color: #000000;
	color:white;

}

.burgers-block{
	padding-top: 60px;
	position: relative;
	width:85%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	align-content: center;
}
div.burger > a > img{
max-height:100%;
max-width: 100%

}
.burger{
	height: 120px;
	width: 120px;
	text-align: center;
	display: inline-block;
	padding-right: 55px;
	padding-left: 55px;
}
span.price{
	color:red;
	text-align:center;
	line-height: 10px
}
.burger-list{
margin: 100px 100px 0px 100px;
display: block;
}
.items{
	width: 45%;
	height: 50px;
	text-align: left;
	padding-top: 25px;
	padding-left: 22px;
	display: inline-block;
}
div.items > a > img{
	max-height: 50px;
	max-width: 50px;
}
span.list-price{
color: red;
float: right;
}

#vermenuhoy{
	align-self: center;
	margin-bottom: 100px;
}





.modal-register-gradeout{
	display: none;
	position: fixed;
	z-index: 999999;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);

}
#modal-register{
	background-color: white;
	width: 30%;
	height:700px;
	margin: 5% 35% 20% 35%;
}
.closebtn{
	margin-top: auto;
	font-family: sans-serif;
	color: red;
	float:right;
	font-size: 40px;
	text-decoration: none;
	padding-right: 20px;
}

.closebtn:hover,.closebtn:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;

}

#header-gradeout{
	width: 100%;
	height: 85px;
	background-color: rgba(0, 0, 0, 0.9);
}
#banner-gradeout{
	width: 100%;
    height: 500%;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
}
#register-title, #login-title{
	margin-top: 23px;
	display: inline-block;
	font-size: 30px;
	font-family: Beyond The Mountains;
}
#burger-icon{
	max-height: 30px;
	max-width: 30px;
}
#registration-form{
	width: 90%;
	height: 500px;
	display:block;
	padding-left: 5px
}

#pass1{
    margin-left:12px;
}
#registration-form  > input, #login-form >input, textarea {
	width: 100%;
	padding:.5rem;
	border: 1px solid black;
	
}
#registration-form > label, #login-form > label{
	padding-left: 20px;
	float: left;
	padding: 1rem 0 .5rem;
}

/*.btn{
	width: 50%;

}*/

#fileip{
	margin-left: 15%;
}

#sendBtn, #enterBtn{
	margin: 3rem 0 ;
	height: 3rem !important;
	width: 8rem !important;
	color: white ;
	background-color: red;
	float: right;
}
#sendBtn:hover, #enterBtn:hover{
	cursor: pointer;
	background-color: gray;
}
#registerBtn, #loginBtn:hover{
	cursor: pointer;
}

#modal1{
	display: none;
	position: fixed;
	z-index: 9999999;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}


#modal-login{
	background-color: white;
	width: 30%;
	height:400px;
	margin: 5% 35% 20% 35%;
}

#login-form > input{
	width: 90%;
	border: 1px solid black;
}

 #enterBtn{
	margin: 3rem 2rem ;
	}

#details{
height: 700px;
width: 100%;
padding-top: 100px;
background-color: rgba(255,255,255,0.2);
}

#productImage{
	height: 160px;
	width: 250px;
	margin: 100px 0 0 200px;
	/*background-image: url("images/hamburguesa5.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	border: 2px solid white;
	position: absolute;
}
#burgerName{
	font-size: 20px;
	margin: 170px auto;
	color: white;
	font-family: Beyond The Mountains;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}

#inputContainer{
position: relative;
height: 500px;
width: 30%;	
margin: 8% auto;
/*background-color: white;*/
color: white;


}

.detailsinput{

	width:30%;
	padding:.5rem;
	border: 1px solid black;


}

#inputContainer > input{
	display: inline;

}

#quantity{
	max-height: 30px;
	min-width: 10px;
	padding: .2rem;
}

#orderBtn,#placeorder{
	background-color: red;
	color:white;
	border: .5px solid white;
	margin-top: 3rem;
	padding: .5rem;

	cursor: pointer;
}

#placeorder:hover,#orderBtn:hover{
	background-color: gray;
	color:white;
		cursor: pointer;

}

#blogbanner > #banner-gradeout{
    margin-top:0px;
}
#blogbanner > #banner-gradeout > .banner-text{
    margin-top:85px;
}
#addresss{
    height:51px;
}

#registration-form input, #login-form input{
    line-height:21px;
}


.editprofilerow {
	width: 100%;
	border: 1px solid white;
	margin-top: 15px;
}

.inputprofile {
	width: 20%;
}
.inputprofilepass {
	width: 10%;
}

.editprofilecontainer{
	color: white;
	margin-top: 500px;
	/*margin-left: 20%;*/
	align-items: center;
	align-content: center;
	width: 100%;
}


#userctn{
	background-color: white;
	width: 100%;
	margin:auto;
	border-collapse: collapse;
    border-spacing: 0;
	

}
.user-list{
	display: table;
	padding: .2rem;
}

.user-table-head > tr >th{
	padding: 15px 13px;
	border-top: 0;
	width:.5%;
}

.user-table-head{
	background-color: gray;
}

#submitbtn, #AddProduct, #DeleteProduct{
    height:40px;
    width:120px;
    margin-right:40px;
    margin-top:40px;
    float:right;
}

