/*
Theme Name: Creativ Blog
Theme URI: http://creativthemes.com/downloads/creativ-blog-free/
Author: Creativ Themes
Author URI: http://creativthemes.com/
Description: Creativ Blog is a modern WordPress theme that comes with high-quality features and minimal design. It is designed to work for all kinds of blogs: personal blog, business blog, fashion blog, lifestyle blog, travel blog, and so on. With full Gutenberg (and Classic) compatibility, you can now embrace the future of WordPress with Creativ Blog. Other features include full-width,boxed and frame layout.
Version: 1.4
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: creativ-blog
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-menu, featured-images, full-width-template, translation-ready, theme-options, threaded-comments, custom-logo, custom-background, custom-header, footer-widgets, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Creativ Blog is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Layouts and Titles
# Media
    ## Captions
    ## Galleries
# Social Icons
# Breadcrumb List
# Homepage Sections
    ## Featured Slider Section
    ## Featured Plans Section
    ## Featured Services Section
    ## Projects Section
    ## Partners Logo Section
    ## Latest News Section
# Footer
# Responsive

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 0 0 15px #aaa;
}

.boxed-layout {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

.frame-layout {
    max-width: 1600px;
    width: 90%;
    margin: 50px auto;
}

#content {
    position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
    color: #111;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #333;
    margin: 16px 0;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

mark {
    background: #ff0;
    color: #111;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    text-align: left;
}
tr {
    border: 1px solid #e4e4e4;
}
td,
th {
    padding: 10px 25px;
    font-weight: 400;
}

th {
    color: #111;
}

td#next {
    text-align: right;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #777;
    font-size: 16px;
    line-height: 28px;
    word-wrap: break-word;
}
p {
    margin: 0 0 1em;
    color: #777;
}
dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #f8f8f8; /* Fallback for when there is no custom background color defined. */
    overflow-x: hidden; 
}

blockquote {
    font-size: 18px;
    line-height: 35px;
    position: relative;
    margin: 0;
}
blockquote.alignright {
    padding-right: 0;
    margin-bottom: 14px;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0;
    padding-left: 1.5em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 0.5em;
}

dt {
    font-weight: bold;
    margin-bottom: 1em;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
    vertical-align: middle;
}

figure {
    margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    display: inline-block;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 3px;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

textarea {
    width: 100%;
}

textarea,
#respond input,
.wpcf7 input {
    width: 100%;
    border: none;
    background-color: #f5f5f5;
    border-radius: 0;
    height: 40px;
    padding: 0 15px;
}
#respond input {
    border: none;
    min-height: 50px;
}
#respond textarea,
textarea {
    height: 200px;
    padding: 10px 15px;
    border: none;
    background-color: #f5f5f5;
}
#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"],
.wpcf7 input {
    background-color: #f5f5f5;
}
#respond input[type="submit"] {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 7px 25px;
    font-size: 14px;
    position: relative;
    border: 2px solid;
    background-color: #82af7c;
    border-color: #82af7c;
    color: #fff;
    z-index: 1;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#respond input[type="submit"]:hover,
#respond input[type="submit"]:focus {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
#respond input[type="checkbox"] {
    min-height: auto;
    height: auto;
    float: left;
    margin-right: 10px;
    width: auto;
}
#respond .comment-form-cookies-consent label {
    display: table;
    margin: 0;
    line-height: 1;
}
#commentform .comment-form-cookies-consent {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
}
p.form-submit {
    clear: both;
    display: inline-block;
    position: relative;
}
.comment-notes {
    font-size: 14px;
    font-style: italic;
    margin-top: 0;
}
#respond label {
    color: #273238;
    margin-bottom: 5px;
    display: inline-block;
}
#commentform p {    
    margin-bottom: 21px;
}
#commentform p.comment-form-comment {
    margin-bottom: 0;
}
#commentform p.form-submit {
    margin: 21px 0 0;
}
#comments {
    margin: 50px 0 0;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #82af7c;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #000;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#top-bar {
    padding: 0;
    background-color: #000;
}
#top-bar .widget {
    text-align: center;
    margin-bottom: 0;
}
#top-bar .widget + .widget {
    margin-top: 10px;
}
#top-bar .widget ul li:not(:last-child) {
    margin-bottom: 0;
}
#top-bar .social-icons li {
    width: 36px;
    height: 36px;
    line-height: 36px;
}
#top-bar .social-icons a {
    background-color: rgba(255,255,255,0.09);
    width: 36px;
    height: 36px;
    line-height: 36px;
}
#top-bar .widget .social-icons ul li:not(:last-child) {
    margin-right: 5px;
}
.widget.widget_search_form ul {
    padding: 0;
}
.widget.widget_search_form form.search-form input[type="search"] {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    height: 36px;
    padding: 0 40px 0 15px;
    font-size: 14px;
}
.widget.widget_search_form form.search-form button.search-submit {
    height: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.widget.widget_search_form form.search-form input::-webkit-input-placeholder {
    color: #fff;
}

.widget.widget_search_form form.search-form input:-ms-input-placeholder {
    color: #fff;
}

.widget.widget_search_form form.search-form input::-moz-placeholder {
    color: #fff;
}
#masthead {
    position: relative;
    width: 100%;
    z-index: 3000;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.site-branding {
    text-align: center;
    padding: 20px 0;
}
.site-title {
    font-size: 42px;
    margin: 0;
    font-weight: 600;
    line-height: 1.3;
    font-family: 'Muli', sans-serif;
}
.site-title a {
    color: #161616;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.site-title a:hover,
.site-title a:focus {
    color: #82af7c;
}
.site-description {
    margin: 0;
    line-height: 1.5;
    color: #777;
    font-weight: 600;
}
.site-logo img {
    max-height: 200px;
    width: auto;
}
.main-navigation {
    display: block;
    position: relative;
}
.main-navigation ul ul {
    background-color: #fff;
    text-align: left;
    padding: 0;
}
.main-navigation ul ul li a {
    padding: 8px 15px;
    color: #111;
}
.main-navigation ul ul a:after {
    float: right;
}
.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    position: relative;
}

.main-navigation ul.nav-menu > li > a {
    padding: 15px 18px;
    color: #000;
}
.main-navigation ul.nav-menu > li:hover > a {
    color: #82af7c;
}
.main-navigation form.search-form input {
    background-color: #111;
    border-color: #111;
    color: #111;
    font-weight: 400;
}
.main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #111;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.main-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    border-top: 1px solid #eee;
    margin-top: -1px;
}
.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}
.main-navigation ul ul a {
    width: 225px;
}
.main-navigation ul.nav-menu .current-menu-item > a {
    color: #82af7c;
}
form.search-form {
    width: 100%;
    max-width: 100%;
    position: relative;
}
.main-navigation form.search-form {
    min-width: 320px;
}
input.search-field {
    height: 45px;
    border-radius: 0;
    padding: 0 50px 0 15px;
    width: 100%;
}
.menu-toggle {
    border-radius: 0;
    font-size: 16px;
    margin: auto;
    display: block;
    height: 80px;
    position: relative;
    background-color: transparent;
    min-width: 64px;
    border: none;
}
.menu-toggle i {
    color: #82af7c;
}
.menu-toggle span {
    width: 35px;
    height: 2px;
    display: block;
    background-color: #82af7c;
    margin: 9px 0;
}
.menu-label {
    float: right;
    color: #111;
    padding: 7px 0 0 10px;
    display: none;
}
button.dropdown-toggle {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    width: 45px;
    height: 55px;
    line-height: 56px;
    border-radius: 0;
}
button.dropdown-toggle .fa {
    color: #82af7c;
    font-size: 18px;
    padding-left: 5px;
}
button.dropdown-toggle.active .fa:before {
    content: "\f106";
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0;
    overflow: hidden;
}
.nav-links .nav-previous a:before,
.nav-links .nav-next a:after {
    content: "\f100";
    font-family: "FontAwesome";
    margin-right: 10px;
    font-size: 18px;
}
.nav-links .nav-next a:after {
    content: "\f101";
    margin-left: 10px;
    margin-right: 0;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
    position: relative;
    text-align: left;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
    position: relative;
}
.post-navigation a, 
.posts-navigation a {
    font-weight: 400;
    display: block;
    color: #343434;
    font-size: 18px;
}
.post-navigation, 
.posts-navigation {
    padding: 0;
    position: relative;
}
.post-navigation a:hover, 
.posts-navigation a:hover,
.post-navigation a:focus, 
.posts-navigation a:focus {
    background-color: #82af7c;
    color: #fff;
}
.posts-navigation .nav-previous,
.posts-navigation .nav-next {
    width: auto;
}
.posts-navigation a {
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.6);
    border: 1px solid #efefef;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navigation.posts-navigation {
    overflow: visible;
    display: inline-block;
    width: 100%;
}
.posts-navigation .nav-links .nav-previous a:before {
    content: "\f100";
}
.posts-navigation .nav-links .nav-next a:after {
    content: "\f101";
}
.pagination .page-numbers,
.pagination .page-numbers.dots:hover,
.pagination .page-numbers.dots:focus {
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 5px;
    color: #82af7c;
    background-color: #ffe2cf;
}
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus {
    color: #fff;
    background-color: #82af7c;
}
.pagination .page-numbers.prev,
.pagination .page-numbers.next {
    margin-right: 25px;
    width: auto;
    height: auto;
    position: relative;
    top: 2px;
    background-color: transparent;
    color: #82af7c;
}
.pagination .page-numbers.prev:hover, 
.pagination .page-numbers.next:hover,
.pagination .page-numbers.prev:focus, 
.pagination .page-numbers.next:focus {
    color: #111;
    background-color: transparent;
}
.pagination .page-numbers.next {
    margin-left: 18px;
    margin-right: 0;
    background-color: transparent;
}
.nav-previous span {
    padding-left: 30px;
    float: left;
    text-align: left;
}
.nav-next span {
    padding-right: 30px;
    float: right;
    text-align: right;
}
.post-navigation span,
.posts-navigation span {
    display: table;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.wrapper:before,
.wrapper:after,
#latest-posts article:before,
#latest-posts article:after,
.widget:before,
.widget:after,
.posts-wrapper:before,
.posts-wrapper:after,
.services-items-wrapper:before,
.services-items-wrapper:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.wrapper:before,
.wrapper:after,
#latest-posts article:before,
#latest-posts article:after,
.widget:before,
.widget:after,
.posts-wrapper:before,
.posts-wrapper:after,
#author-section:before,
#author-section:after,
.services-items-wrapper:before,
.services-items-wrapper:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.3em;
}
.widget:last-child {
    margin-bottom: 0;
}

#secondary .widget > ul li,
#secondary .widget_nav_menu ul li {
    padding: 10px 20px;
    background-color: #fff;
    font-weight: 500;
}
#secondary .widget > ul li:last-child,
#secondary .widget_nav_menu ul li:last-child {
    border-bottom: none;
}
#secondary .widget li:not(:last-child) {
    margin-bottom: 0;
}
#secondary .widget_nav_menu ul ul li:first-child,
#secondary .widget_nav_menu ul ul li:hover {
    border-left: none;
}
#colophon .widget {
    margin: 0 0 40px;
}

#colophon .widget.widget_text {
    margin-bottom: 20px;
}

#colophon .widget:last-child {
    margin-bottom: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
    background-color: #f6f6f6;
    padding: 10px;
    border: none;
    width: 100%;
    max-width: 300px;
}
.widget select:focus {
    outline: thin dotted;
}

.widget input {
    height: 40px;
    border-radius: 0;
    padding: 0 15px;
    border: none;
}

form.search-form button.search-submit {
    height: 45px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    width: 45px;
    border-radius: 0;
}
.widget_search form.search-form button.search-submit {
    width: 50px;
    color: #fff;
    background-color: #82af7c;
    font-size: 15px;
    line-height: 26px;
    height: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.widget_search form.search-form button.search-submit:hover,
.widget_search form.search-form button.search-submit:focus {
    background-color: #333;
}
.widget_search form.search-form input[type="search"] {
    padding: 0 55px 0 15px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.widget_search form.search-form input[type="search"]:focus {
    border-color: #82af7c;
}
form.search-form {
    position: relative;
}

form.search-form input {
    width: 100%;
    padding: 0 40px 0 15px;
    font-weight: 300;
}

#wp-calendar tbody td {
    text-align: center;
}

#wp-calendar caption {
    margin-bottom: 15px;
    font-weight: 600;
}

.widget-title {
    font-size: 18px;
    margin: 0 0 32px;
}

.widget li:not(:last-child) {
    margin-bottom: 10px;
}

.widget_instagram ul {
    list-style: none;
    margin: -5px;
    padding: 0;
}
.widget.widget_instagram li {
    margin: 0;
    padding: 5px;
}
.widget_instagram .col-1 li {
    width: 100%;
    float: none;
}
.widget_instagram .col-2 li {
    width: 50%;
    float: left;
}
.widget_instagram .col-3 li {
    width: 33.33%;
    float: left;
}
.widget_instagram .col-4 li {
    width: 25%;
    float: left;
}
.widget_instagram .col-5 li {
    width: 20%;
    float: left;
}
.widget_instagram li img {
    width: 100%;
}
#colophon .widget-title, 
#colophon .widgettitle {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}
#secondary .widget-title,
#secondary .widgettitle {
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 40px;
    margin-bottom: 0;
    font-weight: 600;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}
#secondary .widget {
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.6);
    border: 1px solid #efefef;
    background: #fff;
}
#secondary .widget_tag_cloud .tagcloud {
    padding: 15px 40px;
}
#secondary .widget_tag_cloud .tagcloud a,
#colophon .widget_tag_cloud .tagcloud a {
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0 5px;
    display: inline-block;
    font-weight: 600;
}
#colophon .widget_tag_cloud .tagcloud a {
    border-color: rgba(255, 255, 255, 0.15);
}
#secondary a {
    color: #333;
    font-weight: 500;
}
#secondary a:hover,
#secondary a:focus {
    color: #82af7c;
}
#secondary .widget:not(:last-child) {
    margin-bottom: 35px;
}
.no-sidebar #secondary {
    display: none;
}
input[type="submit"],
.wpcf7 input[type="submit"] {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 7px 25px;
    font-size: 14px;
    position: relative;
    border: 2px solid;
    background-color: #82af7c;
    border-color: #82af7c;
    color: #fff;
    z-index: 1;
    width: auto;
    height: auto;
    line-height: 28px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="submit"]:focus {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
.jetpack_subscription_widget form {
    position: relative;
}
.jetpack_subscription_widget input[type="email"] {
    width: 100%;
    min-height: 65px;
    padding: 15px 160px 15px 20px;
    background-color: #e7f4fb;
    border-color: #e7f4fb;
}
.jetpack_subscription_widget input[type="submit"] {
    min-width: 100px;
    text-align: center;
    background-color: #0287d2;
    border-radius: 0;
    min-height: 50px;
    padding: 11px 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 14px;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.jetpack_subscription_widget input[type="submit"]:hover,
.jetpack_subscription_widget input[type="submit"]:focus {
    background-color: #82af7c;
}
.jetpack_subscription_widget #subscribe-text {
    display: inline-block;
}
.jetpack_subscription_widget #subscribe-text p {
    margin-top: 0;
    line-height: 25px;
}
.jetpack_subscription_widget #subscribe-submit {
    display: inline-block;
    margin: 0;
    position: relative;
}
.widget_popular_post ul,
.widget_latest_post ul {
    padding: 0;
    margin: 0;
    list-style: none;
    clear: both;
    display: table;
}
.widget.widget_popular_post ul li,
.widget.widget_latest_post ul li {
    clear: both;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.widget.widget_popular_post ul li:last-child,
.widget.widget_latest_post ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.widget_popular_post h3,
.widget_latest_post h3 {
    font-size: 16px;
    line-height: 1.5;
    display: table-row;
    letter-spacing: 0.01em;
}
.widget_popular_post h3 a,
.widget_latest_post h3 a {
    display: block;
}
.widget_popular_post time,
.widget_latest_post time {
    margin-top: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}
.widget_popular_post h3 a,
.widget_popular_post a:hover time,
.widget_popular_post a:focus time,
.widget_latest_post h3 a,
.widget_latest_post a:hover time,
.widget_latest_post a:focus time {
    color: #111;
}
.widget_popular_post h3 a:hover,
.widget_popular_post h3 a:focus,
.widget_popular_post a:hover time,
.widget_popular_post a:focus time,
.widget_latest_post h3 a:hover,
.widget_latest_post h3 a:focus,
.widget_latest_post a:hover time,
.widget_latest_post a:focus time {
    color: #82af7c;
}
.widget_popular_post a time,
.widget_popular_post time,
.widget_latest_post a time,
.widget_latest_post time {
    color: #929292;
    font-weight: 500;
}
.widget_popular_post img,
.widget_latest_post img {
    max-width: 95px;
    width: 95px;
    height: 95px;
    float: left;
    margin-right: 14px;
}
.textwidget img {
    margin-bottom: 25px;
    display: block;
}
.widget.widget_text .btn {
    margin-top: 20px;
}
.textwidget {
    padding: 20px;
}
#secondary .jetpack_subscription_widget input[type="email"] {
    height: 50px;
    min-height: auto;
    background-color: #fff;
    border-color: #fff;
    padding: 15px 18px;
}
#secondary .jetpack_subscription_widget input[type="submit"] {
    position: relative;
    margin: auto;
    min-height: 50px;
    border-radius: 0;
    background-color: #111;
    min-width: 151px;
    margin: 0;
    text-transform: uppercase;
}
.jetpack_subscription_widget #subscribe-submit:after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
    position: absolute;
    bottom: 0;
    right: -10px;
}
.site-footer .jetpack_subscription_widget #subscribe-submit:after {
    border-bottom-color: #fff;
}
#secondary .jetpack_subscription_widget input[type="submit"]:hover,
#secondary .jetpack_subscription_widget input[type="submit"]:focus {
    background-color: #82af7c;
}
#colophon .social-icons {
    margin-left: -15px;
}
#secondary p#subscribe-email {
    margin-top: 0;
}
#secondary ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#secondary .widget .social-icons {
    text-align: center;
    margin-top: -10px;
}
.widget_contact_info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}
.hentry {
    margin: 0;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0;
}
.page-header span.posted-on {
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
}
.page-content .search-submit i {
    font-size: 16px;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
.page-header span.author-name {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #111;
}
.page-header small {
    font-size: 12px;
    color: #82af7c;
}
nav.navigation.pagination {
    margin-top: 50px;
    clear: both;
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.posts-wrapper.blog-posts .featured-image {
    position: relative;
}
.posts-wrapper.col-3 article:nth-child(3n) {
    border-right: 1px solid #e4e4e4;
}
.blog-posts .post-categories {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #82af7c;
    padding: 0 15px;
    color: #fff;
}
.blog-posts .post-categories a {
    color: #fff;
}
.blog-posts .post-categories a:hover,
.blog-posts .post-categories a:focus {
    color: #eee;
}
.post-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}
.post-categories li {
    display: inline-block;
    margin-bottom: 5px;
}
.entry-meta a:hover,
.entry-meta a:focus {
    color: #82af7c;
}
.tags-links {
    margin-bottom: 50px;
    display: inline-block;
}
.tags-links span {
    margin: 0 8px 8px 0;
}
.tags-links a {
    border: 1px solid #82af7c;
    display: inline-block;
    padding: 0px 7px;
    color: #82af7c;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.tags-links a:hover,
.tags-links a:focus {
    border-color: #82af7c;
    background-color: #82af7c;
    color: #fff;
}
.single-post .site-main .comment-navigation, 
.single-post .site-main .posts-navigation, 
.single-post .site-main .post-navigation {
    margin-bottom: 0;
}
.navigation.post-navigation {
    padding: 15px;
    background-color: #f5f5f5;
}
.post-navigation .previous-article span span,
.posts-navigation .previous-article span span,
.post-navigation .next-article span span,
.posts-navigation .next-article span span {
    display: block;
}
.post-navigation span.previous-article b,
.post-navigations span.previous-article b,
.post-navigation span.next-article b,
.post-navigations span.next-article b {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.post-navigation span.previous-article,
.post-navigations span.previous-article {
    display: table;
}
.single #primary article.post,
.single #primary .navigation,
.single #primary #comments,
.page #primary article {
    background-color: #fff;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
    padding: 40px;
}
.single #primary .site-main > article {
    margin-bottom: 50px;
}
.single #primary .navigation {
    padding: 0;
}
.single #primary .navigation a {
    padding: 25px;
}
.single #primary .navigation .nav-previous a {
    border-right: 1px solid #eee;
}
.error-404.not-found,
.no-results.not-found {
    max-width: 600px;
    margin: 0 auto;
}
.error-404.not-found .page-title {
    font-size: 38px;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#reply-title,
.comments-title {
    font-size: 42px;
    margin: 0;
}
.comments-title,
#reply-title {
    margin-bottom: 30px;
    font-size: 32px;
}
ul.post-categories li:last-child:after {
    display: none;
}
ol.comment-list {
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}
#comments ol {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
#comments ol.comment-list {
    padding-top: 35px;
    position: relative;
    overflow: hidden;
}
#comments ol.children {
    margin-left: 120px;
}
.says {
    display: none;
}
.comment-meta img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
#comments time:before {
    display: none;
}
.comment-body {
    position: relative;
}
.reply {
    padding-bottom: 49px;
    padding-left: 105px;
}
#comments article {
    margin-bottom: 30px;
    clear: both;
}
#comments ol.comment-list > li:last-child article:last-child,
#comments ol.comment-list > li:last-child {
    border-bottom: none;
}
#comments ol.comment-list > li {
    padding-top: 49px;
}
#comments ol.comment-list > li:first-child {
    padding-top: 0;
}
#comments ol.comment-list > li article:last-child .reply {
    border-bottom: none;
    padding-bottom: 0;
}
.reply a {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 4px 18px;
    font-size: 14px;
    position: relative;
    border: 2px solid;
    background-color: #82af7c;
    border-color: #82af7c;
    color: #fff;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.reply a:hover,
.reply a:focus {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
.reply a:hover:before,
.reply a:focus:before {
    background-color: #82af7c;
}
.comment-meta .url,
.comment-meta .fn {
    display: inline-block;
    text-transform: capitalize;
    color: #111;
    font-size: 16px;
    font-weight: 600;
}
.comment-meta .url:hover,
.comment-meta .url:focus,
.comment-metadata a,
.comment-metadata a time {
    color: #82af7c;
}
.comment-metadata a,
.comment-metadata time {
    font-size: 14px;
}
.comment-metadata a:hover,
.comment-metadata a:focus,
.comment-metadata a:hover time,
.comment-metadata a:focus time {
    color: #111;
}
.comment-metadata time {
    font-weight: 500;
}
.comment-metadata {
    display: block;
    margin-top: 5px;
}
.comment-content {
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 105px;
}
.comment-content p {
    font-weight: 400;
    color: #565a5f;
    margin-bottom: 1em;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Layouts and titles
--------------------------------------------------------------*/
section {
    position: relative;
}
.relative {
    display: block;
    position: relative;
}
.relative:before,
.relative:after {
    content: "";
    display: table;
    clear: both;
}
.entry-content {
    margin-top: 0;
}
.wrapper {
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
.page-section {
    padding: 60px 0;
}
.entry-title,
.section-title {
    font-size: 22px;
    margin: 0 0 15px;
    word-wrap: break-word;
}
.section-title {
    font-size: 32px;
    margin-bottom: 0;
    color: #333;
    font-weight: bold;
}
.section-header {
    margin-bottom: 50px;
}
.section-subtitle {
    margin: 15px auto 0;
    color: #6f6f6f;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    max-width: 600px;
    line-height: 24px;
}
.overlay {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.btn {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 7px 25px;
    font-size: 14px;
    position: relative;
    border: 2px solid;
    background-color: #82af7c;
    border-color: #82af7c;
    color: #fff;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover,
.btn:focus {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin: -4px;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    padding: 4px;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}
/*--------------------------------------------------------------
## Social Icons
--------------------------------------------------------------*/
.social-icons li {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    text-align: center;
    position: relative;
    list-style: none;
}
.footer-widgets-area .widget .social-icons li {
    display: inline-block;
    width: auto;
}
.social-icons li:not(:last-child) {
    margin-right: 5px;
}
.social-icons,
.social-icons ul {
    margin: 0;
    padding: 0;
}
.social-icons li a {
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    border-radius: 2px;
}
/*--------------------------------------------------------------
## Social Icons
--------------------------------------------------------------*/
ul.social-icons {
    margin: 0;
    padding: 0;
}
.social-icons li {
    width: 40px;
    height: auto;
    text-align: center;
    line-height: 40px;
    position: relative;
    list-style: none;
}
.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-icons li:not(:last-child) {
    margin-right: 10px;
}
.social-icons li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.social-icons li a:hover {
    color: #fff;
}
.social-icons li a:before {
    font-family: "FontAwesome";
    visibility: visible;
    font-size: 18px;
}
.social-icons li a[href*="facebook.com"]:before,
.social-icons li a[href*="fb.com"]:before {
  content: "\f09a";
}

.social-icons li a[href*="twitter.com"]:before {
  content: "\f099";
}

.social-icons li a[href*="linkedin.com"]:before {
  content: "\f0e1";
}

.social-icons li a[href*="plus.google.com"]:before {
  content: "\f0d5";
}

.social-icons li a[href*="youtube.com"]:before {
  content: "\f04b";
}

.social-icons li a[href*="dribbble.com"]:before {
  content: "\f17d";
}

.social-icons li a[href*="pinterest.com"]:before {
  content: "\f231";
}

.social-icons li a[href*="bitbucket.org"]:before {
  content: "\f171";
}

.social-icons li a[href*="github.com"]:before {
  content: "\f113";
}

.social-icons li a[href*="codepen.io"]:before {
  content: "\f1cb";
}

.social-icons li a[href*="flickr.com"]:before {
  content: "\f16e";
}

.social-icons li a[href$="/feed/"]:before {
  content: "\f09e";
}

.social-icons li a[href*="foursquare.com"]:before {
  content: "\f180";
}

.social-icons li a[href*="instagram.com"]:before {
  content: "\f16d";
}

.social-icons li a[href*="tumblr.com"]:before {
  content: "\f173";
}

.social-icons li a[href*="reddit.com"]:before {
  content: "\f1a1";
}

.social-icons li a[href*="vimeo.com"]:before {
  content: "\f194";
}

.social-icons li a[href*="digg.com"]:before {
  content: "\f1a6";
}

.social-icons li a[href*="twitch.tv"]:before {
  content: "\f1e8";
}

.social-icons li a[href*="stumbleupon.com"]:before {
  content: "\f1a4";
}

.social-icons li a[href*="delicious.com"]:before {
  content: "\f1a5";
}

.social-icons li a[href*="mailto:"]:before {
  content: "\f0e0";
}
.social-icons li a[href*="soundcloud.com"]:before {
  content: "\f1be";
}
.social-icons li a[href*="wordpress.org"]:before {
  content: "\f19a";
}
.social-icons li a[href*="wordpress.com"]:before {
  content: "\f19a";
}

.social-icons li a[href*="jsfiddle.net"]:before {
  content: "\f1cc";
}

.social-icons li a[href*="tripadvisor.com"]:before {
  content: "\f262";
}

.social-icons li a[href*="foursquare.com"]:before {
  content: "\f180";
}

.social-icons li a[href*="angel.co"]:before {
  content: "\f209";
}

.social-icons li a[href*="slack.com"]:before {
  content: "\f198";
}

/*--------------------------------------------------------------
## Social Icons Hover Color
--------------------------------------------------------------*/
.social-icons li a[href*="facebook.com"]:hover,
.social-icons li a[href*="fb.com"]:hover,
.social-icons li a[href*="facebook.com"]:focus,
.social-icons li a[href*="fb.com"]:focus {
    background-color: #3c5798 !important;
}
.social-icons li a[href*="twitter.com"]:hover,
.social-icons li a[href*="twitter.com"]:focus {
    background-color: #1ea0f1 !important;
}
.social-icons li a[href*="linkedin.com"]:hover,
.social-icons li a[href*="linkedin.com"]:focus {
    background-color: #0077B5 !important;
}
.social-icons li a[href*="plus.google.com"]:hover,
.social-icons li a[href*="plus.google.com"]:focus {
    background-color: #ec7161 !important;
}

.social-icons li a[href*="youtube.com"]:hover,
.social-icons li a[href*="youtube.com"]:focus {
    background-color: #cc181e !important;
}

.social-icons li a[href*="dribbble.com"]:hover,
.social-icons li a[href*="dribbble.com"]:focus {
    background-color: #f4a09c !important;
}

.social-icons li a[href*="pinterest.com"]:hover,
.social-icons li a[href*="pinterest.com"]:focus {
    background-color: #bd081b !important;
}

.social-icons li a[href*="bitbucket.org"]:hover,
.social-icons li a[href*="bitbucket.org"]:focus {
    background-color: #205081 !important;
}

.social-icons li a[href*="github.com"]:hover,
.social-icons li a[href*="github.com"]:focus {
    background-color: #323131 !important;
}

.social-icons li a[href*="codepen.io"]:hover,
.social-icons li a[href*="codepen.io"]:focus {
    background-color: #111000 !important;
}

.social-icons li a[href*="flickr.com"]:hover,
.social-icons li a[href*="flickr.com"]:focus {
    background-color: #025FDF !important;
}

.social-icons li a[href$="/feed/"]:hover,
.social-icons li a[href$="/feed/"]:focus {
    background-color: #089DE3 !important;
}

.social-icons li a[href*="foursquare.com"]:hover,
.social-icons li a[href*="foursquare.com"]:focus {
    background-color: #F94877 !important;
}

.social-icons li a[href*="instagram.com"]:hover,
.social-icons li a[href*="instagram.com"]:focus {
    background-color: #cd42e7 !important;
}

.social-icons li a[href*="tumblr.com"]:hover,
.social-icons li a[href*="tumblr.com"]:focus {
    background-color: #56BC8A !important;
}

.social-icons li a[href*="reddit.com"]:hover,
.social-icons li a[href*="reddit.com"]:focus {
    background-color: #FF4500 !important;
}

.social-icons li a[href*="vimeo.com"]:hover,
.social-icons li a[href*="vimeo.com"]:focus {
    background-color: #00ADEF !important;
}

.social-icons li a[href*="digg.com"]:hover,
.social-icons li a[href*="digg.com"]:focus {
    background-color: #00ADEF !important;
}

.social-icons li a[href*="twitch.tv"]:hover,
.social-icons li a[href*="twitch.tv"]:focus {
    background-color: #0E9DD9 !important;
}

.social-icons li a[href*="stumbleupon.com"]:hover,
.social-icons li a[href*="stumbleupon.com"]:focus {
    background-color: #EB4924 !important;
}

.social-icons li a[href*="delicious.com"]:hover,
.social-icons li a[href*="delicious.com"]:focus {
    background-color: #0076E8 !important;
}

.social-icons li a[href*="mailto:"]:hover,
.social-icons li a[href*="mailto:"]:focus {
    background-color: #4169E1 !important;
}
.social-icons li a[href*="soundcloud.com"]:hover,
.social-icons li a[href*="soundcloud.com"]:focus {
    background-color: #FF5500 !important;
}
.social-icons li a[href*="wordpress.org"]:hover,
.social-icons li a[href*="wordpress.org"]:focus {
    background-color: #0073AA !important;
}
.social-icons li a[href*="wordpress.com"]:hover {
    background-color: #00AADC !important;
}

.social-icons li a[href*="jsfiddle.net"]:hover,
.social-icons li a[href*="jsfiddle.net"]:focus {
    background-color: #396AB1 !important;
}

.social-icons li a[href*="tripadvisor.com"]:hover,
.social-icons li a[href*="tripadvisor.com"]:focus {
    background-color: #FFE090 !important;
}

.social-icons li a[href*="angel.co"]:hover,
.social-icons li a[href*="angel.co"]:focus {
    background-color: #111000 !important;
}
/*--------------------------------------------------------------
#  Page Site Header
--------------------------------------------------------------*/
#custom-header-image {
    background-color: #fff;
}
#page-site-header {
    background-color: #333;
    background-size: cover;
    background-position: 50%;
    position: relative;
    text-align: center;
    padding: 280px 0;
}
#page-site-header:before {
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
#page-site-header .page-title {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.30);
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
    min-width: 200px;
}
#page-site-header .page-header {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*--------------------------------------------------------------
#  Breadcrumb List
--------------------------------------------------------------*/
#breadcrumb-list {
    background-color: #222;
    padding: 20px 0;
}
.trail-items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.trail-items li {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.trail-items li a {
    color: rgba(255, 255, 255, 0.30);
}
.trail-items li a:hover,
.trail-items li a:focus {
    color: #fff;
}
.trail-items .separator {
    color: rgba(255, 255, 255, 0.30);
    padding: 0 2px;
}
/*--------------------------------------------------------------
#  Featured Slider Section
--------------------------------------------------------------*/
.slick-item {
    outline: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-next:before, 
.slick-prev:before {
    opacity: 1;
    content: "\f104";
    font-family: "FontAwesome";
}
.slick-next:before {
    content: "\f105";
}
.slick-prev,
.slick-next {
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: #82af7c;
    border-radius: 0;
    line-height: 52px;
}
.slick-next {
    left: auto;
    right: 0;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
    background-color: #82af7c;
}
.slick-dots li button:before {
    content: "";
    opacity: 1;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 12px;
}
.slick-dots li.slick-active button:before {
    background-color: #82af7c;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
}
.slick-dots li {
    margin: 0 2px;
}
#featured-slider .wrapper {
    position: relative;
    z-index: 1;
}
#featured-slider article {
    padding: 225px 0;
    background-size: cover;
    background-position: 50%;
    position: relative;
    background-color: #111;
}
.featured-content-wrapper {
    background-color: rgba(0, 0, 0, 0.50);
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    max-width: 550px;
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.featured-content-wrapper .more-link,
.featured-content-wrapper .entry-meta a,
.featured-content-wrapper .entry-title a {
    color: #fff;
}
.featured-content-wrapper .entry-meta a:hover,
.featured-content-wrapper .entry-title a:hover,
.featured-content-wrapper .entry-meta a:focus,
.featured-content-wrapper .entry-title a:focus {
    color: #fff;
    opacity: 0.8;
}
.featured-content-wrapper .entry-meta {
    margin-bottom: 5px;
}
.featured-content-wrapper .entry-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.featured-content-wrapper .entry-content p,
#featured-slider article .entry-content {
    color: #fff;
    font-size: 17px;
    margin: 0;
}
.featured-content-wrapper .read-more {
    margin-top: 21px;
}
#featured-slider .slick-dots {
    bottom: 25px;
}
#featured-slider button.slick-arrow {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#featured-slider:hover button.slick-arrow {
    visibility: visible;
    opacity: 1;
}
#featured-slider:hover button.slick-arrow.slick-prev {
    left: 25px;
}
#featured-slider:hover button.slick-arrow.slick-next {
    right: 25px;
}

/*--------------------------------------------------------------
#  About Author Section
--------------------------------------------------------------*/
#about-author {
    padding: 50px 0;
}
#about-author + .page-section {
    padding-top: 0;
    padding-bottom: 50px;
}
.section-header {
    text-align: center;
}
#about-author .section-content {
    margin: 0 -15px;
}
#about-author article {
    padding: 0 15px;
    text-align: center;
    margin-bottom: 15px;
}
#about-author article:last-child {
    margin-bottom: 0;
}
#about-author article .entry-content p {
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 0;
}
#about-author article .read-more {
    margin-top: 20px;
}
#about-author .post-title {
    background-color: #fff;
    padding: 5px 15px;
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: block;
    line-height: 1.5;
}
#about-author .post-title:hover,
#about-author .post-title:focus {
    color: #82af7c;
}
.course-item-wrapper {
    background-color: #000;
    padding: 100px 0;
    text-align: center;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.course-item-wrapper .entry-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 160px;
    margin: 0 auto;
    padding: 25px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.post-thumbnail-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.course-item-wrapper .entry-title {
    font-weight: bold;
    font-size: 32px;
}
.course-item-wrapper .entry-title,
.course-item-wrapper .entry-title a,
.blog-posts-wrapper .entry-title a {
    color: #343434;
}
.course-item-wrapper .entry-title a:hover,
.course-item-wrapper .entry-title a:focus,
.blog-posts-wrapper .entry-title a:hover,
.blog-posts-wrapper .entry-title a:focus {
    color: #82af7c;
}
.course-item-wrapper .featured-image {
    position: relative;
}
.course-item-wrapper .btn,
#blog .post-item .btn,
.no-sidebar .post-item .btn {
    padding: 4px 18px;
    font-size: 12px;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog-posts-wrapper .entry-container {
    padding: 30px 0;
}
.blog-posts-wrapper .has-post-thumbnail .entry-container {
    padding-top: 0;
}
.blog-posts-wrapper .entry-container .entry-header {
    margin-bottom: 16px;
}
.blog-posts-wrapper .entry-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 0 20px;
}
body:not(.home).left-sidebar .blog-posts-wrapper .entry-title,
body:not(.home).right-sidebar .blog-posts-wrapper .entry-title {
    font-size: 32px;
}
.post-item {
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.6);
    border: 1px solid #efefef;
    background: #fff;
}
.entry-meta a,
.entry-meta .author.vcard {
    text-transform: uppercase;
    font-size: 11px;
    color: #999;
    font-weight: bold;
}
.blog-posts-wrapper .entry-title a,
.entry-meta a,
.entry-meta a:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.entry-meta .cat-links a {
    display: inline-block;
}
.blog-posts-wrapper article img {
    width: 100%;
}
.blog-posts-wrapper figure {
    margin-bottom: 23px;
}
.blog-posts-wrapper .entry-content {
    padding: 0 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.8;
}
.grid {
    margin: 0 -15px;
}
.blog-posts-wrapper article {
    padding: 0 15px;
}
.search-no-results .grid {
    height: auto !important;
    text-align: center;
}
.no-results.not-found .page-title {
    margin-top: 0;
}
.blog-posts-wrapper article {
    margin-bottom: 30px;
}
.blog-posts-wrapper .comments-link a {
    font-size: 12px;
    text-transform: uppercase;
    color: #aaa;
}
.blog-posts-wrapper .comments-link a:hover,
.blog-posts-wrapper .comments-link a:focus {
    color: #82af7c;
}
.blog-posts-wrapper .comments-link a:before {
    display: none;
}
.entry-meta > span {
    margin-right: 5px;
}
span.cat-links a:not(:last-child):after {
    content: ",";
}
span.cat-links a:not(:last-child):after {
    display: none;
}
.blog-posts-wrapper .read-more {
    padding: 0 20px;
}
.more-link {
    display: inline-block;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
    box-sizing: border-box;
    padding: 9px 24px;
    color: #777;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.more-link:hover,
.more-link:focus {
    border-color: #82af7c;
    background-color: #82af7c;
    color: #fff;
}
.single .entry-meta {
    margin-bottom: 10px;
}
.blog-posts-wrapper .entry-meta {
    margin-bottom: 5px;
    padding: 0 20px;
}
.single .entry-meta > span {
    margin-bottom: 5px;
    display: inline-block;
}
.entry-meta > span:not(:last-child):after {
    content: "/";
    margin-left: 10px;
    margin-right: 5px;
    color: #aaa;
    font-size: 11px;
}
.blog-posts-wrapper .entry-meta.clear {
    margin-bottom: 0;
    padding: 0;
    position: relative;
}
.blog-posts-wrapper .entry-meta.clear > span.date {
    float: left;
}
.blog-posts-wrapper .entry-meta.clear > span {
    float: right;
}
.blog-posts-wrapper .entry-meta.clear > span a {
    font-size: 12px;
    text-transform: none;
}
.blog-posts-wrapper .entry-meta.clear > span a:before,
.blog-posts-wrapper .entry-meta .author:before {
    display: none;
}
.blog-posts-wrapper .entry-meta.clear span.author.vcard {
    background-color: transparent;
    padding: 0;
}
.blog-posts-wrapper .entry-meta.clear span.byline {
    margin-right: 0;
}
.blog-posts-wrapper .entry-meta.clear span.author a {
    text-transform: capitalize;
    display: inline-block;
    padding: 6px 17px;
    margin-top: -6px;
}
.blog-posts-wrapper .entry-meta.clear span.author a:after {
    border-bottom: 15px solid transparent;
    border-right: 0px solid #944787;
    border-left: 15px solid #944787;
    margin-left: auto;
    margin-right: -15px;
    left: auto;
    right: 0;
}
body.blog.right-sidebar .blog-posts-wrapper .col-3 article,
body.archive.right-sidebar .blog-posts-wrapper .col-3 article,
body.search.right-sidebar .blog-posts-wrapper .col-3 article,
body.blog.left-sidebar .blog-posts-wrapper .col-3 article,
body.archive.left-sidebar .blog-posts-wrapper .col-3 article,
body.search.left-sidebar .blog-posts-wrapper .col-3 article {
    width: 50%;
}
/*--------------------------------------------------------------
# Typography Options
--------------------------------------------------------------*/
.header-font-1 h1,
.header-font-1 h2,
.header-font-1 h3,
.header-font-1 h4,
.header-font-1 h5,
.header-font-1 h6 {
    font-family: 'Raleway', sans-serif;
}

.header-font-2 h1,
.header-font-2 h2,
.header-font-2 h3,
.header-font-2 h4,
.header-font-2 h5,
.header-font-2 h6 {
    font-family: 'Poppins', sans-serif;
}

.header-font-3 h1,
.header-font-3 h2,
.header-font-3 h3,
.header-font-3 h4,
.header-font-3 h5,
.header-font-3 h6 {
    font-family: 'Montserrat', sans-serif;
}

.header-font-4 h1,
.header-font-4 h2,
.header-font-4 h3,
.header-font-4 h4,
.header-font-4 h5,
.header-font-4 h6 {
    font-family: 'Open Sans', sans-serif;
}

.header-font-5 h1,
.header-font-5 h2,
.header-font-5 h3,
.header-font-5 h4,
.header-font-5 h5,
.header-font-5 h6 {
    font-family: 'Lato', sans-serif;
}

.header-font-6 h1,
.header-font-6 h2,
.header-font-6 h3,
.header-font-6 h4,
.header-font-6 h5,
.header-font-6 h6 {
    font-family: 'Ubuntu', sans-serif;
}

.header-font-7 h1,
.header-font-7 h2,
.header-font-7 h3,
.header-font-7 h4,
.header-font-7 h5,
.header-font-7 h6 {
    font-family: 'Playfair Display', serif;
}

.header-font-8 h1,
.header-font-8 h2,
.header-font-8 h3,
.header-font-8 h4,
.header-font-8 h5,
.header-font-8 h6 {
    font-family: 'Lora', serif;
}

.header-font-9 h1,
.header-font-9 h2,
.header-font-9 h3,
.header-font-9 h4,
.header-font-9 h5,
.header-font-9 h6 {
    font-family: 'Titillium Web', sans-serif;
}

.header-font-10 h1,
.header-font-10 h2,
.header-font-10 h3,
.header-font-10 h4,
.header-font-10 h5,
.header-font-10 h6 {
    font-family: 'Muli', sans-serif;
}

.header-font-11 h1,
.header-font-11 h2,
.header-font-11 h3,
.header-font-11 h4,
.header-font-11 h5,
.header-font-11 h6 {
    font-family: 'Oxygen', sans-serif;
}

.header-font-12 h1,
.header-font-12 h2,
.header-font-12 h3,
.header-font-12 h4,
.header-font-12 h5,
.header-font-12 h6 {
    font-family: 'Nunito Sans', sans-serif;
}

.header-font-13 h1,
.header-font-13 h2,
.header-font-13 h3,
.header-font-13 h4,
.header-font-13 h5,
.header-font-13 h6 {
    font-family: 'Maven Pro', sans-serif;
}

.header-font-14 h1,
.header-font-14 h2,
.header-font-14 h3,
.header-font-14 h4,
.header-font-14 h5,
.header-font-14 h6 {
    font-family: 'Cairo', serif;
}

.header-font-15 h1,
.header-font-15 h2,
.header-font-15 h3,
.header-font-15 h4,
.header-font-15 h5,
.header-font-15 h6 {
    font-family: 'Philosopher', sans-serif;
}

.header-font-16 h1,
.header-font-16 h2,
.header-font-16 h3,
.header-font-16 h4,
.header-font-16 h5,
.header-font-16 h6 {
    font-family: 'Quicksand', sans-serif;
}

.body-font-1,
.body-font-1 .site-title,
.body-font-1 #colophon .widget-title, 
.body-font-1 #colophon .widgettitle {
    font-family: 'Raleway', sans-serif;
}

.body-font-2,
.body-font-2 .site-title,
.body-font-2 #colophon .widget-title, 
.body-font-2 #colophon .widgettitle {
    font-family: 'Poppins', sans-serif;
}

.body-font-3,
.body-font-3 .site-title,
.body-font-3 #colophon .widget-title, 
.body-font-3 #colophon .widgettitle {
    font-family: 'Roboto', sans-serif;
}

.body-font-4,
.body-font-4 .site-title,
.body-font-4 #colophon .widget-title, 
.body-font-4 #colophon .widgettitle {
    font-family: 'Open Sans', sans-serif;
}

.body-font-5,
.body-font-5 .site-title,
.body-font-5 #colophon .widget-title, 
.body-font-5 #colophon .widgettitle {
    font-family: 'Lato', sans-serif;
}

.body-font-6,
.body-font-6 .site-title,
.body-font-6 #colophon .widget-title, 
.body-font-6 #colophon .widgettitle {
    font-family: 'Ubuntu', sans-serif;
}

.body-font-7,
.body-font-7 .site-title,
.body-font-7 #colophon .widget-title, 
.body-font-7 #colophon .widgettitle {
    font-family: 'Playfair Display', serif;
}

.body-font-8,
.body-font-8 .site-title,
.body-font-8 #colophon .widget-title, 
.body-font-8 #colophon .widgettitle {
    font-family: 'Lora', serif;
}

.body-font-9,
.body-font-9 .site-title,
.body-font-9 #colophon .widget-title, 
.body-font-9 #colophon .widgettitle {
    font-family: 'Titillium Web', sans-serif;
}

.body-font-10,
.body-font-10 .site-title,
.body-font-10 #colophon .widget-title, 
.body-font-10 #colophon .widgettitle {
    font-family: 'Muli', sans-serif;
}

.body-font-11,
.body-font-11 .site-title,
.body-font-11 #colophon .widget-title, 
.body-font-11 #colophon .widgettitle {
    font-family: 'Oxygen', sans-serif;
}

.body-font-12,
.body-font-12 .site-title,
.body-font-12 #colophon .widget-title, 
.body-font-12 #colophon .widgettitle {
    font-family: 'Nunito Sans', sans-serif;
}

.body-font-13,
.body-font-13 .site-title,
.body-font-13 #colophon .widget-title, 
.body-font-13 #colophon .widgettitle {
    font-family: 'Maven Pro', sans-serif;
}

.body-font-14,
.body-font-14 .site-title,
.body-font-14 #colophon .widget-title, 
.body-font-14 #colophon .widgettitle {
    font-family: 'Cairo', serif;
}

.body-font-15,
.body-font-15 .site-title,
.body-font-15 #colophon .widget-title, 
.body-font-15 #colophon .widgettitle {
    font-family: 'Philosopher', sans-serif;
}

.body-font-16,
.body-font-16 .site-title,
.body-font-16 #colophon .widget-title, 
.body-font-16 #colophon .widgettitle {
    font-family: 'Quicksand', sans-serif;
}
/*--------------------------------------------------------------
#                   Footer
--------------------------------------------------------------*/
#colophon {
    background-color: #000;
    color: rgba(255, 255, 255, 0.50);;
}
#colophon p,
#colophon li {
    color: #888;
}
#colophon a {
    color: rgba(255, 255, 255, 0.50);
}
#colophon a:hover,
#colophon a:focus {
    color: #fff;
}
#colophon .widget li a,
#secondary .widget li a {
    display: table-row;
}
#colophon .widget li:before,
#secondary .widget li:before {
    content: "\f101";
    font-family: "FontAwesome";
    float: left;
    margin-right: 15px;
}
.site-info {
    background-color: #111;
    color: rgba(255, 255, 255, 0.50);
    padding: 18px 0;
    line-height: 1.5;
}
.site-info span {
    display: block;
    text-align: center;
    margin: 10px 0;
}
#colophon .site-info a {
    color: #fff;
}
#colophon .site-info a:hover,
#colophon .site-info a:focus {
    color: #fff;
}
.footer-widgets-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-widgets-area .widget ul li,
#secondary .widget ul li {
    width: 100%;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
}
.footer-widgets-area .widget ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-widgets-area .widget ul li:last-child,
.footer-widgets-area .widget .social-icons li {
    margin-bottom: 0;
}
.footer-widgets-area .hentry {
    margin-bottom: 45px;
}
.footer-widgets-area.col-1 .hentry {
    text-align: center;
}
.footer-widgets-area.col-1 .hentry:last-child {
    margin-bottom: 0;
}
.footer-widgets-area.col-1 .textwidget img {
    margin-left: auto;
    margin-right: auto;
}
.widget_recent_entries ul li span {
    font-size: 12px;
    display: block;
}
.widget_archive li a,
.widget_categories li a {
    float: left;
}
.footer-widgets-area th {
    color: #fff;
}
#colophon #wp-calendar caption {
    font-weight: 600;
    color: #fff;
}
.widget_nav_menu ul ul {
    padding-left: 25px;
    margin-top: 15px;
}
.widget_archive li,
.widget_categories li {
    clear: both;
    display: table;
    width: 100%;
}
#colophon .widget_recent_comments li a {
    color: #fff;
}
#colophon .widget_search form.search-form button.search-submit {
    background-color: #82af7c;
}
.backtotop {
    background-color: #82af7c;
    z-index: 300;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    text-align: center;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    color: #fff;
}
.backtotop:hover {
    background-color: #333;
}
/*--------------------------------------------------------------
#                   RESPONSIVE
--------------------------------------------------------------*/
@media screen and (min-width: 567px) {
    #top-bar .widget + .widget {
        margin-top: 0;
        max-width: 300px;
    }
    #top-bar.col-2 .widget {
        float: left;
        text-align: left;
    }
    #top-bar.col-2 .widget + .widget {
        float: right;
        text-align: right;
    }
    #top-bar .widget.widget_search_form {
        max-width: 300px;
        margin-right: 0;
        margin-left: auto;
        float: right;
    }
    #featured-slider article {
        padding: 300px 0;
    }
    .blog-posts-wrapper .col-3 article {
        width: 50%;
        float: left;
    }
    .footer-widgets-area.col-2 .hentry,
    .footer-widgets-area.col-4 .hentry {
        width: 50%;
        float: left;
    }
    .footer-widgets-area.col-2 .hentry:nth-child(2n+1),
    .footer-widgets-area.col-4 .hentry:nth-child(2n+1) {
        clear: left;
    }
    .footer-widgets-area.col-2 .hentry:nth-child(odd),
    .footer-widgets-area.col-4 .hentry:nth-child(odd) {
        padding-right: 40px;
    }
    .footer-widgets-area.col-2 .hentry:nth-last-child(-n+2),
    .footer-widgets-area.col-4 .hentry:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 767px) {
    .section-title {
        font-size: 42px;
    }
    #about-author .col-3 article {
        width: 33.33%;
        float: left;
    }
    #about-author .col-3 article:nth-child(3n+1) {
        clear: left;
    }
    #about-author .col-3 article:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
    .footer-widgets-area.col-3 .hentry {
        width: 33.33%;
        float: left;
        margin-bottom: 0;
    }
    .footer-widgets-area.col-3 .hentry:not(:last-child) {
        padding-right: 40px;
    }
    .site-info.col-2 span {
        float: left;
        width: 50%;
        text-align: left;
    }
    .site-info.col-2 span:nth-child(2) {
        float: right;
        text-align: right;
    }
    .site-info {
        padding: 10px 0;
    }
}
@media screen and (min-width: 992px) {
    .page-section {
        padding: 80px 0;
    }
    .featured-content-wrapper .entry-title {
        font-size: 32px;
    }
    .course-item-wrapper .entry-title {
        font-size: 42px;
    }
    .blog-posts-wrapper .col-3 article {
        width: 33.33%;
    }
    .blog-posts-wrapper .col-3 article:nth-child(2n+1) {
        clear: none;
    }
    .blog-posts-wrapper .col-3 article:nth-child(3n+1) {
        clear: left;
    }  
    nav.navigation.pagination {
        margin-top: 63px;
    }
    #colophon .social-icons {
        margin-left: -15px;
    }
    .social-icons li:not(:last-child) {
        margin-right: 14px;
    }
    .footer-widgets-area.col-4 .hentry {
        width: 25%;
        padding-right: 40px;
    }
    .footer-widgets-area.col-4 .hentry:last-child {
        padding-right: 0;
    }
    .footer-widgets-area.col-4 .hentry:nth-child(2n+1) {
        clear: none;
    }
    .footer-widgets-area.col-4 .hentry:nth-child(4n+1) {
        clear: left;
    }
    .footer-widgets-area.col-4 .hentry:nth-last-child(-n+4) {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1024px) {
    .main-navigation {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }
    .main-navigation ul.nav-menu > li:not(:last-child) > a:after {
        content: "";
        width: 8px;
        height: 1px;
        background: #000;
        margin-left: 15px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .main-navigation .menu-item-has-children > a:after {
        content: "\f107";
        font-family: "FontAwesome";
        padding-left: 8px;
    }
    .main-navigation ul ul .menu-item-has-children > a:after {
        content: "\f105";
    }
    .main-navigation ul.nav-menu {
        display: block !important;
        height: auto !important;
        text-align: center;
    }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
        left: 0;
        right: auto;
    }
    .main-navigation ul ul li:hover > ul,
    .main-navigation ul ul li.focus > ul {
        left: 100%;
        right: auto;
    }
    .main-navigation ul ul li:hover > a {
        background-color: #82af7c;
        color: #fff !important;
    }
    .main-navigation ul.sub-menu > li:last-child > a {
        border-bottom: none;
    }
    .main-navigation ul ul li {
        border-bottom: 1px solid #eee;
    }
    .main-navigation ul ul > li:last-child {
        border-bottom: none;
    }
    .main-navigation ul ul ul {
        top: 0;
    }
    .menu-toggle {
        height: 80px;
        position: absolute;
        top: 50%;
        right: 35px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #search {
        position: absolute;
        z-index: 30;
        right: 0;
        top: 100%;
        display: none;
    }
    .main-navigation .search-active .icon-search {
        display: none;
    }
    .main-navigation .search-active .icon-close {
        display: inline-block;
    }
    #search:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #111;
        position: absolute;
        top: -9px;
        right: 5px;
    }
    button.dropdown-toggle {
        display: none;
    }
    .menu-toggle,
    .modern-menu ul#primary-menu {
        display: none;
    }
    .modern-menu .menu-toggle {
        display: block;
    }
    .modern-menu .menu-label {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
    .main-navigation li {
        display: inline-block;
    }
    .main-navigation .left-menu {
        padding-left: 50px;
    }
    .main-navigation ul.nav-menu > li.left-menu > a,
    .main-navigation ul.nav-menu > li.right-menu > a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .main-navigation li.left-menu + li.right-menu:before {
        content: "/";
        position: absolute;
        top: 50%;
        margin-left: -6px;
        color: #fff;
        margin-top: -1px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .main-navigation form.search-form {
        border: 20px solid #111;
    }
    .main-navigation form.search-form input {
        background-color: #fff;
        border-color: #fff;
        color: #111;
    }
    #featured-slider article {
        padding: 290px 0;
    }
    .right-sidebar #primary,
    .left-sidebar #primary {
        width: 70%;
        float: left;
        padding-right: 50px;
    }
    .right-sidebar #secondary,
    .left-sidebar #secondary {
        width: 30%;
        float: right;
    }
    .left-sidebar #primary { 
        float: right;
        padding-right: 0;
        padding-left: 50px;
    }
    .no-sidebar #primary {
        width: 100%;
        float: none;
    }
    .single.no-sidebar #primary {
        max-width: 1024px;
        margin: 0 auto;
    }
    .no-sidebar.home #primary {
        max-width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .main-navigation ul.nav-menu > li > a {
        padding: 15px 18px;
    }
    .blog-posts-wrapper.col-3 .has-post-thumbnail .featured-image {
        padding: 160px 0;
    }
}
@media screen and (min-width: 1900px) {
    #page-site-header {
        padding: 325px 0;
    }
    #page-site-header .page-title {
        font-size: 42px;
    }
}
@media screen and (max-width: 1023px) {
    #masthead {
        margin-bottom: 0;
        position: relative;
        min-height: 80px;
    }
    .site-branding {
        padding: 20px 0;
    }
    .site-title {
        font-size: 26px;
    }
    .main-navigation a {
        border-bottom: 1px solid #eee;
    }
    .main-navigation ul ul a {
        width: 100%;
    }
    .main-navigation ul ul,
    .main-navigation ul ul ul {
        box-shadow: none;
        float: none;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 0;
        display: none;
    }
    .main-navigation ul.sub-menu li {
        padding-right: 0;
    }
    .main-navigation .menu-item-has-children > a:before {
        content: "";
        float: right;
        position: relative;
        right: 0;
        background-color: #ccc;
        width: 1px;
        height: 25px;
    }
    .main-navigation .menu-item-has-children > a:after {
        padding-top: 3px;
    }
    .main-navigation ul.nav-menu > li > a,
    .main-navigation ul.sub-menu li a {
        padding: 13px 42px 13px 25px;
    }
    .main-navigation ul.sub-menu li a {
        padding-left: 50px;
    }
    .main-navigation ul.sub-menu ul li a {
        padding-left: 75px;
    }
    .main-navigation ul.sub-menu ul ul li a {
        padding-left: 100px;
    }
    .main-navigation ul.sub-menu ul ul ul li a {
        padding-left: 125px;
    }
    .main-navigation ul.sub-menu li a {
        border-left: none;
    }
    .main-navigation ul.nav-menu {
        margin-right: 0;
        background-color: #fff;
        margin-top: 25px;
        border-top: 1px solid #eee;
    }
    .main-navigation {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
    }
    .main-navigation a {
        color: #111;
    }
    #masthead.site-header .main-navigation ul.nav-menu {
        margin-top: 0;
        position: absolute;
        top: 100%;
        left: auto;
        right: 0;
        width: 100%;
    }
    .main-navigation .search-menu a {
        display: none;
    }
    .main-navigation form.search-form input {
        background-color: #fff;
        border: none;
        min-height: 55px;
    }
    .main-navigation form.search-form button.search-submit {
        height: 59px;
    }
    .main-navigation form.search-form input {
        padding-left: 25px;
    }
    #page-site-header {
        padding: 250px 0;
    }
}

@media screen and (max-width: 992px) {
    #page-site-header {
        padding: 200px 0;
    }
    .comments-title, 
    #reply-title {
        font-size: 28px;
    }
}
@media screen and (max-width: 767px) {
    #masthead.site-header .main-navigation ul.nav-menu {
        max-width: 100%;
    }
    #featured-slider button.slick-arrow,
    #featured-slider:hover button.slick-arrow {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    #page-site-header .page-title {
        font-size: 24px;
    }
    .comment-navigation .nav-previous, 
    .posts-navigation .nav-previous, 
    .post-navigation .nav-previous,
    .comment-navigation .nav-next, 
    .posts-navigation .nav-next, 
    .post-navigation .nav-next {
        width: 100%;
        margin: 15px 0;
    }
    .posts-navigation .nav-previous,
    .posts-navigation .nav-next {
        width: auto;
        margin: 0;
    }
    .post-navigation span.previous-article b, 
    .post-navigations span.previous-article b, 
    .post-navigation span.next-article b, 
    .post-navigations span.next-article b {
        font-size: 18px;
    }
    .posts-navigation .nav-previous, 
    .posts-navigation .nav-next {
        width: 180px;
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .posts-navigation .nav-previous + .nav-next {
        margin-top: 25px;
    }
    #respond {
        margin-top: 40px;
    }
    .comment-meta img {
        margin-right: 15px;
    }
    .comments-title, 
    #reply-title {
        margin-bottom: 0;
    }
    #commentform p.comment-form-comment,
    #commentform p.form-submit {
        margin-top: 21px;
    }
    nav.navigation.pagination,
    #secondary {
        margin-top: 30px;
    }
    .comments-title, 
    #reply-title {
        font-size: 26px;
    }
    #comments {
        margin-top: 40px;
    }
    .tags-links {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 567px) {
    #top-bar {
        padding: 10px 0;
    }
    #top-bar .widget + .widget {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .site-branding .site-logo + #site-identity {
        margin-top: 15px;
    }
    .featured-content-wrapper {
        padding: 25px;
    }
    #featured-slider article .entry-content {
        display: none;
    }
    .section-header {
        margin-bottom: 40px;
    }
    #about-author article .entry-content p {
        font-size: 22px;
        line-height: 35px;
    }
    #page-site-header {
        padding: 175px 0;
    }
    body.blog.right-sidebar .blog-posts-wrapper .col-3 article, 
    body.archive.right-sidebar .blog-posts-wrapper .col-3 article, 
    body.search.right-sidebar .blog-posts-wrapper .col-3 article, 
    body.blog.left-sidebar .blog-posts-wrapper .col-3 article, 
    body.archive.left-sidebar .blog-posts-wrapper .col-3 article, 
    body.search.left-sidebar .blog-posts-wrapper .col-3 article {
        width: 100%;
    }
    .pagination .page-numbers.prev, 
    .pagination .page-numbers.next {
        top: 0;
    }
    .pagination .prev.page-numbers:before, 
    .pagination .next.page-numbers:before {
        width: 35px;
        height: 10px;
    }
    .pagination .page-numbers.prev, 
    .pagination .page-numbers.next {
        margin-left: 0;
        margin-right: 0;
    }
    .trail-items li {
        font-size: 12px;
    }
    #breadcrumb-list {
        padding: 10px 0;
    }
    blockquote.alignright {
        margin-left: 0;
    }
    .testimonial-slider article.has-featured-image .featured-image {
        box-shadow: none;
    }
    #author-section {
        text-align: center;
    }
    .author-image {
        float: none;
        margin: 0 0 25px;
    }
    .author-content {
        display: block;
    }
    .author-name:after {
        margin-left: auto;
        margin-right: auto;
    }
    .comment-meta img {
        margin: 0 0 25px;
        float: none;
    }
    .comment-meta .url, 
    .comment-meta .fn {
        display: block;
    }
    .comment-content {
        padding-left: 0;
    }
    #comments ol.children {
        margin-left: 50px;
    }
    .reply {
        padding-left: 0;
    }
    .footer-widgets-area .hentry:last-child,
    .footer-widgets-area.col-3 .hentry:last-child {
        margin-bottom: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 480px) {
    #masthead .wrapper {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .site-branding {
        min-height: auto;
        text-align: center;
        width: 100%;
        float: none;
        padding: 15px;
        display: block;
    }
    .menu-toggle {
        margin: auto;
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        width: 80px;
        height: 80px;
    }
    .main-navigation {
        float: none;
    }
}
